params{
       bed_file="/media/judith/Almacenamiento/Documents/Ongoing_projects/nf-mre-postions-counts/test/data/targets_sample.bed"
       vcf_file="/media/judith/Almacenamiento/Documents/Ongoing_projects/nf-mre-postions-counts/test/results/_002_snps_in_mre/sample_76g_PASS.snps_per_mre.vcf.gz"
}
process {
      maxForks = 6
}
